{% extends "main.html" %}
{% block content %}

<div class="container">
  <div class="row">

    <div class="col-sm-9 indent">
        <h4>Catalog Item</h4>
        <p>Developing an application that provides a list of items within a variety of categories as well as provide a user registration and authentication system. Registered users will have the ability to post, edit and delete their own items.</p>

        <p>Installing a Linux distribution on a virtual machine and prepare it to host this web applications, to include installing updates, securing it from a number of attack vectors and installing/configuring web and database servers.</p>

        <h5>Author: Thanh Che</h5>

        <br>
        <h5 class="about-title">WORKING WITH C.R.U.D</h5>
        <p>Model database entries in Python</p>
        <p>Write server code to create, read, update and delete database entries interactively</p>
        <br>

        <h5>MAKING A WEB SERVER</h5>
        <p>Configure a web server to handle requests using HTTP</p>
        <p>Allow a web server to read and update data based on HTTP request input</p>

        <br>
        <h5>DEVELOPING WITH FRAMEWORKS</h5>
        <p>Build a functioning web application using the lightweight Flask framework</p>
        <p>Respond to HTTP requests with JSON data</p>

        <br>
        <h5>ITERATIVE DEVELOPMENT</h5>
        <p>Plan the design of a complex web application</p>

        <br>
        <h5>AUTHENTICATION VS AUTHORIZATION</h5>
        <p>Secure your application by verifying users’ identities</p>
        <p>Control application authorization based on user roles and login state</p>
        <p>Use third-party systems to authenticate users</p>

        <br>
        <h5>CREATING GOOGLE SIGN-IN</h5>
        <p>Implement user authentication using Google’s OAuth 2.0 tools</p>

        <br>
        <h5>LOCAL PERMISSION SYSTEM</h5>
        <p>Store user data in an application database</p>
        <p>Manage user authorization from stored user data</p>

        <br>
        <h5>ADDING FACEBOOK AND OTHER PROVIDERS</h5>
        <p>Implement other authentication providers in a web app</p>

        <br>
        <h5>GET INTO THE SHELL</h5>
        <p>Install your own virtual machine on your computer, running a Linux operating system</p>
        <p>Practice Linux shell and terminal commands to control your computer without a graphical interface</p>

        <br>
        <h5>SHELL COMMANDS</h5>
        <p>Execute Linux shell commands to interact with your computer’s directory structure</p>
        <p>Add, move and delete files and folders from your filesystem</p>
        <p>Edit files in Ubuntu’s built-in text editor - nano</p>

        <br>
        <h5>THE LINUX FILESYSTEM</h5>
        <p>Use more powerful techniques to search and navigate the file structure of a Linux computer</p>

        <br>
        <h5>INTRO TO LINUX</h5>
        <p>Explore the historical roots of Linux and some common Linux distributions</p>
        <p>Launch the Ubuntu operating system in a virtual machine on your own computer</p>

        <br>
        <h5>LINUX SECURITY</h5>
        <p>Control authorization on a Linux system using super user privileges</p>
        <p>Install additional software packages to a Linux system</p>
        <p>Manage Linux users and user permissions</p>
        <p>Protect a Linux system with a universal firewall</p>

        <br>
        <h5>WEB APPLICATION SERVERS</h5>
        <p>Install an Apache web application server on a Linux system</p>

      </div>

    </div>
    <center>
        <input type="button" name="cancel_about" style="position: fixed; top: 20em; right: 10em;" onclick="goBack()" value="Go back.." />
    </center>
<br><br>
</div>

<br><br>


{% endblock %}