{% extends "main.html" %}
{% block content %}

    <div class = 'flash'>
          {% with messages = get_flashed_messages() %}
            {% if messages %}

            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>

            {% endif %}
          {% endwith %}
    </div> <!--flash-->

    <div class="main_body" align=center>

        <div class="category_box">

            <div class="category_list">

              <p class="category_title">Categories</p>

              <ul class="category_item">

                {% for k in categories %}

                  <li>

                  {% if k.id in cate_list %}

                    <a  class="new_arrival_category_access"
                        href="{{url_for('seccategoryitemMenu', category_name=k.name)}}">{{k.name}}
                    </a>

                  {% else %}

                    <a  class="new_arrival_category"
                        href="{{url_for('seccategoryitemMenu', category_name=k.name)}}">{{k.name}}
                    </a>

                  {% endif %}

                  </li>

                {% endfor %}

                <div class="button">
                  <div class="space"></div>
                    <a class="button" href='{{url_for('newCategory', category_name=categories[0].name) }}'>Add category..</a>
                  <div class="space"></div>
                </div>

              </ul> <!--category_item-->

            </div> <!--category_list-->

        </div> <!--category_box-->

        <div class="product_box">

          <p class="product_title">New Arrival Items</p>

            {% for i in items %}

              <ul class="latest_item">
                <li>

                {% for j in categories %}

                    {% if j.id==i.category_id %}

                        <div>

                          {% if i.id in item_list %}
                            <a class="item_access" href="{{url_for('describeMenuItem',
                                                        category_name=j.name,
                                                        item_name=i.name)}}">{{i.name}}</a>
                          {% else %}
                            <a class="item_name" href="{{url_for('describeMenuItem',
                                                        category_name=j.name,
                                                        item_name=i.name)}}">{{i.name}}</a>
                          {% endif %}

                            -

                          {% if j.id in cate_list %}
                            <a class="new_arrival_category_access" href="{{url_for('seccategoryitemMenu',
                                                                        category_name=j.name)}}">{{j.name}}</a>
                          {% else %}
                            <a class="new_arrival_category" href="{{url_for('seccategoryitemMenu',
                                                                  category_name=j.name)}}">{{j.name}}</a>
                          {% endif %}

                        </div>

                    {% endif %}

                {% endfor %}

                </li>
              </ul> <!--latest_item-->

            {% endfor %}

        </div> <!--product_box-->

    </div> <!--main_body-->
{% endblock %}
